In [2]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('../../../../../../../Downloads/ssss.txt')

In [15]:
df.describe()

              carid            age    avgVelocity             km  Unnamed: 9
count  100000.00000  100000.000000  100000.000000  100000.000000         0.0
mean        4.98250      30.401550      76.909020      81.241050         NaN
std         2.58294       9.552376      63.912479      58.398161         NaN
min         1.00000      18.000000      18.000000      10.000000         NaN
25%         3.00000      25.000000      25.000000      50.000000         NaN
50%         5.00000      29.000000      65.000000      60.000000         NaN
75%         7.00000      39.000000     160.000000     100.000000         NaN
max         9.00000      49.000000     200.000000     200.000000         NaN

In [26]:
df['class'].value_counts()

Perfect    75214
Regular    19235
Poor        5551
Name: class, dtype: int64